.tic-tac-toe-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.square{
    width: 100px;
    height: 100px;
    margin-top: -1px;
    margin-right: -1px;
    cursor: pointer;
    border: 1px solid red;
    font-size: 40px;
    text-align: center;
}