.tic-tac-toe-container{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.square{
    border: 1px solid red;
    width: 100px;
    height: 100px;
    cursor: pointer;
    padding: 0px;
    margin-top: -1px;
    margin-right: -1px;
    font-size: 40px;
    text-align: center;
}